html {
  background-color: #000;
  color: #fff;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}
#layers {
  font-size: 36px;
  font-weight: 700;
}
#totalA {
  font-size: 24px;
  font-weight: 500;
}
#currentLayer {
  font-size: 24px;
  font-weight: 500;
  color: #8ec5e8;
}
#eternities {
  font-size: 24px;
  font-weight: 500;
  color: #9f65e6;
}
#layerTab, #optionsTab {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
